@import "globals.less";

div.board-title {
	min-height: 40px;
}

div.info {
	text-align: right;
	padding-top: 1.5em;
}

div.window {
	border: 1px solid @window-border;
	border-radius: 3px;
	min-height: 300px;
}

hr {
	height: 1px;
	width: 90%;
	margin: 10px auto;
	color: @window-border;
}

.break {
	margin-bottom: 8px;
}