@import 'globals.less';

div.dashboard {
	
	div.logout {
		text-align: right;
		padding-top: 21px;
	}

	button.boardList {
		position: relative;
		font-family: "prociono", Georgia, serif;
		min-width: 133px;
		margin-bottom: 10px;

		span.board-name {
			opacity: 1;
			.transition(opacity .1s);
		}

		span.board-options {
			position: absolute;
			left: 1px;
			top: 2px;
			display: none;
			cursor: pointer;
			padding: 3px 6px;
		}

		&.select span.board-name {
			opacity: 0;
		}

		&.select span.board-options {
			display: inline-block;
		}

		span.divider {
			color: @light-text;
		}
	}

	div.message-item {
		padding: 5px 10px;
		border: 1px solid @tab-border;
		border-radius: 5px;

		div.replyForm.show {
			height: 100px;
		}
	}

	div.hide-animate {
	 	height: 0px;
	 	overflow: hidden;
	 	.transition(height 0.5s);

		&.show {
			height: 38px;
			overflow: visible;
		}
	}

	.margin-top {
		margin-top: 6px;
	}
}
