// Variables
@footer-height: 18px;
@bg-color: #EEEEEE;
@box-color: #FFF;
@border-color: #888888;
@tab-border: #CCCCCC;
@light-text: #444444;
@shadow-color: #DDDDDD;
@transparent-shadow: rgba(221,221,221,0.6);
@button-active: #E6E6E6;
@fa-check-color: #33CC33;
@window-border: rgb(204,204,204);
@warning-color: #D43B43;
@code-color: #CCCCCC;

// Fonts
@font-face {
  font-family: 'ralewayThin';
  src: url('/fonts/raleway_thin-webfont.woff') format('woff'),
       url('/fonts/raleway_thin-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'prociono';
  src: url('/fonts/Prociono-Regular-webfont.woff') format('woff'),
       url('/fonts/Prociono-Regular-webfont.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: @bg-color;
  font-family: "prociono", Georgia, serif;
}

div.wrapper {
  position: relative;
  height: 100%;
  min-height: 250px;
  z-index: 0;
  div {
    &.logo {
      text-align: center;
      z-index: 1;
    }
    &.center {
      max-width: 600px;
      padding-bottom: @footer-height;
      margin: 15px auto;
      background-color: @box-color;
      border-radius: none;
      box-shadow: 0px 0px 5px 3px @shadow-color;
      z-index: 1;
      .form-group {
        margin-bottom: 0px;
      }
    }
    &.copy {
      font-size: .8em;
      text-align: center;
      color: @light-text;
      height: @footer-height;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

div.right-addon {
  position: relative;
  input {
    padding-right: 30px;
  }
  i.fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    right: 0px;
  }
}

a.subtle {
  color: @light-text;
}

span.warning {
  color: @warning-color;
  font-weight: bold;
}

span.code {
  border: 1px solid @code-color;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0px 3px;
  font-family: "Courier New", Courier, monospace;
}

span.bottom-outline {
  border-bottom: 1px solid @code-color;
  padding: 3px 5px;
  margin: 0px 3px;
}

button.thinBtn {
  padding: 1px 9px;
  margin-top: -5px;
}

p.break-top {
  margin-top: 10px;
}

.nomargin {
  margin-bottom: 0px;
}

.fa-check {
  color: @fa-check-color;
}

h1, h2 {
  font-family: 'ralewayThin', Helvetica, sans-serif;
}

p, label, input {
  font-family: "prociono", Georgia, serif;
}

p, h1, h2, h3, span {
  &.center {
    text-align: center;
  }
}

.capitalize {
  text-transform: capitalize;
}

.transition(@details) {
  -webkit-transition: @details;
     -moz-transition: @details;
       -o-transition: @details;
          transition: @details;
}