<template name="board">
	{{setTitle board.id}}
	<div class="center row">
		
		<div class="messages row">
			<div class="window col-xs-12">
				{{#each message}}
					{{#if message.mine}}
						<p class="pull-left">
							<span class="username">{{message.user}}:</span>
							<span class="content">{{message.text}}</span>
							<span class="timestamp">{{message.timestamp}}</span>
						</p>
					{{else}}
						<p class="pull-right">
							<span class="username">{{message.user}}:</span>
							<span class="content">{{message.text}}</span>
							<span class="timestamp">{{message.timestamp}}</span>
						</p>
					{{/if}}
				{{/each}}
			</div>
			<div class="add col-xs-8">
				<p class="pull-left row">
					<span class="username">{{user.name}}:</span>
					<input class="form-control" type="text" placeholder="Type a message here" />
					<span class="timestamp">{{timestamp}}</span>
				</p>
				<p class="options row">
					<button class="form-control">Leave a card</button>
				</p>
			</div>
		</div>

		<hr />

		<div class="card row">
			{{#each card}}
				<div class="contact-box col-xs-4">
					<h2>{{card.name}}</h2>
					<img src="{{avatar}}" />
					<button class="form-control">Talk</button>
				</div>
			{{/each}}
		</div>

	</div>
</template>