<template name="board">
	{{setTitle title}}
	<div class="center row">
		<div class="board-title col-xs-7">
			<h1 class="capitalize">{{board}} <span class="little">({{zip}}<span class="gray">##</span>)</span></h1>
		</div>
		<div class="menu col-xs-5">
			{{#if loggedIn}}
				<p><button class="btn btn-default" id="menuBtn">Dashboard</button></p>
			{{else}}
				<p><button class="btn btn-default" id="menuBtn">Home</button></p>
			{{/if}}
		</div>
		<div class="description col-xs-12">
			{{#if loggedIn}}
				{{#if description}}
					<p>{{description}}</p>
				{{else}}
					<form id="newDescription">
						<div class="input-group break">
							<input class="form-control" id="descriptionInput" type="text" placeholder="Enter a description for this board" aria-describedby="descriptionBtn"  maxlength="140" />
							<span class="input-group-addon btn btn-default" id="descriptionBtn">Submit</span>
						</div>
					</form>
				{{/if}}
			{{else}}
				{{#if description}}
					<p>{{description}}</p>
				{{else}}
					<p>It's exactly what it sounds like.</p>
				{{/if}}
			{{/if}}
		</div>
		<div class="messages col-xs-12">
			<div class="window col-xs-12" id="chatWindow">
				{{#each messages}}
					{{#if this.mine}}
						<p class="pull-left">
							<span class="msgContent">{{this.text}}</span>
							<br>
							<span class="msgUsername">{{this.name}}</span>
							<span class="msgTimestamp"> on {{this.friendlyTimestamp}}</span>
						</p>
						<p class="gray" id="deleteBtn">
							<i class="fa fa-times"></i>
						</p>
					{{else}}
						<p class="pull-right">
							<span class="msgContent">{{this.text}}</span>
							<br>
							<span class="msgUsername">{{this.name}}</span>
							<span class="msgTimestamp"> on {{this.friendlyTimestamp}}</span>
						</p>
					{{/if}}
				{{/each}}
			</div>

			<hr />

			<div class="add col-xs-12">
				<p class="row">
					{{#if loggedIn}}
						<span class="username">
							<span>{{username}}</span>
							at {{time}}:
						</span>
						<form id="newMessage">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Type a message here" id="messageInput" aria-describedby="messageBtn" />
								<span class="input-group-addon btn btn-default" id="messageBtn">Post</span>
							</div>
						</form>
					{{else}}
						<p>You can't post to this board because you are browsing anonymously.</p>
					{{/if}}
				</p>
			</div>
		</div>

		<hr />

		<div class="options col-xs-12">
			<p class="options col-xs-12">
				<button class="form-control btn btn-default break" data-toggle="tooltip" data-original-title="Leave contact information for others on this board">Leave a card</button>
				<button class="form-control btn btn-default" data-toggle="tooltip" data-original-title="Set a time and place to do this with others">Create an event</button>
			</p>
		</div>

		<hr />

		<div class="card col-xs-12">
			{{#each card}}
				<div class="contact-box col-xs-4">
					<h2>{{name}}</h2>
					<p>Available:</p>
					<p>{{availability}}</p>
					<button class="form-control">Talk</button>
				</div>
			{{/each}}
		</div>

	</div>
</template>