<template name="dashboard">
	{{setTitle title}}
	<div class="center row dashboard">
		<div class="col-xs-8">
			<h1>Welcome, {{username}}.</h1>
		</div>
		<div class="logout col-xs-4">
			<p><button class="btn btn-default" id="logOut">Log Out</button></p>
		</div>
		
		<div class="col-xs-12 tabs">
			{{#each tabs}}
				<button class="btn btn-default tab" id="{{this.id}}">{{this.name}}</button>
			{{/each}}
		</div>
		
		<div class="col-xs-12">

			{{#if tab_boards}}
				<p class="heading">Boards</p>
				{{#if boards}}
					<p>You're a member of the following boards:</p>
				{{/if}}
				<p>
					{{#each boards}}
						<button class="btn btn-default boardList">
							<span class="board-name">
								{{this.hobby}} ({{this.zip}})
							</span>
							<span class="board-options">
								<span class="goBtn">
									<i class="fa fa-external-link fa-lg"></i> Visit
								</span>
								<span class="divider"> | </span>
								<span class="deleteBtn">
									Delete <i class="fa fa-trash fa-lg"></i>
								</span>
							</span>
						</button>
					{{/each}}
				</p>
				<p>
					Want to add a new board? <span class="warning">{{warning_hobby}}</span>
				</p>
	        	<div class="input-group">
	                <input class="form-control" id="boardInput" type="text" placeholder="I like..." aria-describedby="addButton" />
	                <span class="input-group-addon btn btn-default" id="addButton" {{hobbyPerfect}}>Add</span>
	            </div>
	            <p class="break-top">
	            	All boards that you visit are automatically added to your profile.
	            </p>

	            <hr>
	            <p class="heading">Discover</p>
	        	<p>Looking for something new to do?</p>
	        	{{#if popularFive}}
	        		<p>The most popular boards in your area are:</p>
	        	{{/if}}
	        	{{#each popularFive}}
	        		<button class="btn btn-default boardList goBtn">
						{{this.hobby}} ({{this.zip}})
					</button>
	        	{{/each}}
	        	{{#if unpopularFive}}
	        		<p>Here are some boards that could use a little love:</p>
	        	{{/if}}
	        	{{#each unpopularFive}}
	        		<button class="btn btn-default boardList goBtn">
						{{this.hobby}} ({{this.zip}})
					</button>
	        	{{/each}}
	        	{{#unless popularFive}}
	        		{{#unless unpopularFive}}
	        			<p>We've got nothing for you to discover right now. Check back when things liven up!</p>
	        		{{/unless}}
	        	{{/unless}}
	        {{/if}}

	        {{#if tab_events}}
	        	<p class="heading">Events</p>
	        	{{#unless userEvents}}
	        		<p>You don't have any upcoming events. Time for a nap, maybe?</p>
	        	{{/unless}}
	        	{{#each userEvents}}
	        		<hr>
	        		<p>
	        			<span class="bold">{{this.title}}</span>: <span>{{this.date}}</span>
	        		</p>
	        		<p>
	        			<span>{{this.description}}</span>
	        		</p>
	        		<p>
	        			<span>At least {{this.attendees}} attending.</span>
	        		</p>
	        	{{/each}}
	        {{/if}}

	        {{#if tab_messages}}
	        	<p class="heading">Cards</p>
	    		{{#if howManyContactCards}}
	    			<p>You've left your card on {{howManyContactCards}} {{board_s howManyContactCards}}:</p>
	    			{{#each userCardBoards}}
	    				<button class="btn btn-default boardList goBtn">
							{{this.hobby}} ({{this.zip}})
						</button>
	    			{{/each}}
	    			<p>To remove a contact card, visit the board you left it at.</p>
				{{else}}
	    			<p>You haven't left any contact cards. Visit a board and click "Leave a Card" to get started.</p>
	    		{{/if}}
	    		<hr>
	    		<p class="heading">Messages</p>
	        	{{#unless userMessages}}
	        		<p>No messages.</p>
	        	{{/unless}}
	    		{{#each userMessages}}
	    			<div class="message-item">
	    				<p>{{this.text}}</p>
	    				<p>
	    					<span class="bold">{{this.from_username}}</span> ({{this.date}}) from <span class="bold">{{this.board}}</span>
	    				</p>
	    				{{#if this.replies}}
		    				<p>
		    					<button class="btn btn-default thinBtn"><i class="fa fa-ellipsis-h"></i></button>
		    				</p>
	    				{{/if}}
	    				{{#each this.replies}}
	    					<div class="message-item">
	    						<p>{{this.text}}</p>
	    						<p><span class="bold">{{this.from_username}}</span> ({{this.date}})</p>
	    					</div>
	    				{{/each}}
	    				<p class="margin-top">
	    					<button class="btn btn-default thinBtn replyMessage"> <i class="fa fa-reply"></i> Reply</button>
	    					<button class="btn btn-default thinBtn deleteMessage"><i class="fa fa-times"></i> Delete</button>
	    				</p>
	    				<div class="hide-animate replyForm" id="replyForm-{{this._id}}">
	    					<textarea class="form-control margin-top" placeholder="Message" id="pMessageReply-{{this._id}}" maxlength="10000"></textarea>
	    					<button class="btn btn-default thinBtn margin-top submitMessageReply">Send</button>
	    				</div>
	    			</div>
	    		{{/each}}
	        {{/if}}
			
			{{#if tab_profile}}
				<p class="heading">Profile</p>
				<p>
					Your current region is <span class="bottom-outline" data-toggle="tooltip" data-original-title="This is the first three digits of your zip code.">{{zip}}</span> <button class="btn btn-default thinBtn" id="changeZip"><i class="fa fa-pencil"></i> Edit</button>
				</p>
				<div class="hide-animate" id="zipForm">
					<div class="input-group">
						<input class="form-control" id="zipInput" type="text" placeholder="Zip Code" aria-describedby="zipBtn"  maxlength="140" />
						<span class="input-group-addon btn btn-default" id="zipBtn" {{zipValid}}>Update</span>
					</div>
				</div>
				{{#if userHasEmail}}
					<p class="margin-top">
						The email address you've provided is <span class="bottom-outline">{{email}}</span> <button class="btn btn-default thinBtn" id="changeEmail"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-default thinBtn" id="removeEmail"><i class="fa fa-trash"></i> Remove</button>
					</p>
					<div class="hide-animate" id="emailForm">
						<div class="input-group">
							<input class="form-control" id="emailInput" type="text" placeholder="Email Address" aria-describedby="emailBtn"  maxlength="140" />
							<span class="input-group-addon btn btn-default" id="emailBtn" {{emailValid}}>Update</span>
						</div>
					</div>
					{{#unless emailVerified}}
						<p class="margin-top">This email address hasn't been verified yet. If you didn't get a verification link, we can send you a new one.</p>
						<button class="btn btn-default" id="newVerifyLink">Email Me Again</button>
					{{/unless}}
				{{else}}
					<p>We don't have your email address. That's fine with us, but it means that your user name will eventually expire and be given away. You can still reserve it if you'd like.</p>
					<p><button class="btn btn-default" id="giveEmail">Provide Email</button></p>
					<div class="hide-animate" id="emailForm">
						<div class="input-group">
							<input class="form-control" id="emailInput" type="text" placeholder="Email Address" aria-describedby="emailBtn"  maxlength="140" />
							<span class="input-group-addon btn btn-default" id="emailBtn" {{emailValid}}>Update</span>
						</div>
					</div>
				{{/if}}

				<hr>

	        	<p class="heading">Security</p>
	        	{{#if emailVerified}}
	        		<p>Worried about someone using your username? We can generate a brand-new Ruffin access link for you.</p>
	        		<button class="btn btn-default" id="newAccessLink">Get New Link</button>
	        	{{else}}
	        		<p>Since you haven't provided a verified email address, we don't have any identifying information for you (aside from messages you've posted on your boards). That's as secure as it gets.</p>
	        	{{/if}}
	        	<hr>
	        	<p>If you'd like to delete every message you've ever posted, use this button. Remember that once you've done it, there's no going back.</p>
	        	<button class="btn btn-default" id="destroyAllMessages">Destroy All Messages</button>
	        	<hr>
	        	<p>If you have any other security concerns, please let us know.</p>
	        {{/if}}

	        {{#if tab_help}}
	        	<p class="heading">Help</p>
	        	<p>My name is <a class="subtle" href="http://www.isaaclyman.com">Isaac Lyman</a>. I built this app using the <a class="subtle" href="http://www.meteor.com">Meteor</a> platform.</p> 
				<p>If you find a bug in the site or have questions, email me: <a class="subtle" href="mailto:ruffin@isaaclyman.com">ruffin@isaaclyman.com</a></p>
	        {{/if}}

		</div>
	</div>
</template>
