<template name="username">
	{{setTitle title}}
	<div class="center row">
		<div class="col-xs-12">
			<h1>The name <b class="capitalize">{{username}}</b> is available.</h1>
			<p>It's unique and it's yours for at least 60 days on this computer. We'll give it away when you're done with it.</p>
			<p>Or, if you'd like to keep it forever, just give us your email address and we'll reserve it for you.</p>
			<p>We promise never to send you an email unless you ask us to.</p>
			<form id="reserveName">
				<div class="form-group">
					<p>
						<input type="radio" name="email" class="radio-form" id="noEmail" />
						<label for="noEmail">
							<b> No,</b> I don't want to use this name forever. I'll pick a different one when this one expires.
						</label>
					</p>
					<p>
						<input type="radio" name="email" class="radio-form" id="giveEmail" />
						<label for="giveEmail">
							<b> Yes,</b> I'll provide an email address and keep this as my permanent name.
						</label>
					</p>
					{{#if chooseEmail}}
						<p>Enter your email below.
						<span class="warning"> {{warning_email}}</span>
						</p>
						<input type="email" class="form-control" id="email" placeholder="Email Address"/>
						<input type="email" class="form-control" id="emailConfirm" placeholder="Confirm Email"/>
						<p>We'll send you one email right away to verify this address.</p>
					{{/if}}
					{{#if choiceMade}}
						<button class="form-control btn btn-default" {{emailValid}}>Continue to board</button>
					{{/if}}
				</div>
			</form>
		</div>
	</div>
</template>